{% include 'navigation.html' %}
{% load static %}
<body>
<img src="{% static 'images/lawyer.jpg' %}" width="100%" height="450">

<div class="mt-2">
    <h3 class="page-title text-center">About</h3><br>
    <div class="container-fluid">
        <div class="col-lg-12">
            <div class="card shadow">
                <div class="card-body">
                    <div class="row">
                        <div class="col-sm-6">
                            <img src="{% static 'images/lawyer1.jpg' %}" style="width: 90%; height: 480px">
                        </div>

                        <div class="col-sm-6">

                            <h4 style="font-family: 'Georgia'; font-size: 25px;">
                                Lawyer Report Management
                                System is Created Python Django and database are used SQLite and front end used
                                HTML,CSS,Bootstratp & JavaScript. This project is made by Praveen.</h4><br>
                            <h4 style="font-family: 'Georgia'; font-size: 25px;">A lawyer or attorney is a
                                person who practices law, as an advocate, attorney at law, barrister, barrister-at-law,
                                bar-at-law, canonist, canon lawyer, civil law notary, counsel, counselor, solicitor,
                                legal executive, or public servant preparing, interpreting and applying the law, but not
                                as a paralegal or charter executive secretary.[1] Working as a lawyer involves the
                                practical application of abstract legal theories and knowledge to solve specific
                                individualized problems, or to advance the interests of those who hire lawyers to
                                perform legal services. </h4>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</body>